<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品資料新增</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addProduct.css}">
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</head>
<body>

<table class="wwFormTable">
    <tr><td style="text-align:center;"><h3>商品資料新增</h3>
        <h4>登入者: [[${session.admAcc}]]在線上</h4>
        <a th:href="@{/admin/listAll}"><img th:src="@{/images/add.png}" title="商品資料" class="img1"></a>
    </td></tr>
</table>

<h2>商品資料新增</h2>

<form method="post" th:action="@{/admin/add}" name="form1" enctype="multipart/form-data">
    <table class="wwFormTable">

        <tr th:if="${not #strings.isEmpty(errorMsg)}">
            <td><font color="red">錯誤訊息:</font></td>
            <td><font color="red">[[${errorMsg}]]</font></td>
        </tr>

        <tr>
            <td>商品名稱:</td>
            <td><input type="text" name="prodName" class="input"
                       th:value="${product!=null and product.prodName!=null }?${product.prodName}: ''"
                       placeholder="*商品名稱: 請勿空白(必填)"
                       required="true"/>
            </td>
        </tr>
        <tr>
            <td>商品介紹:</td>
            <td><textarea name="prodIntroduce" class="input" style="height:100px"
                          th:text="${product!=null and product.prodIntroduce!=null }?${product.prodIntroduce}: ''"
                          placeholder="*商品介紹: 請勿空白(必填)"
                          required="true"/>
            </textarea></td>
        </tr>

        <tr>
            <td>商品價格:</td>
            <td><input type="number" name="prodPrice" class="input" min="1"
                       th:value="${product!=null and product.prodPrice!=null }?${product.prodPrice}: ''"
                       placeholder="*商品價格: 請填數字(必填)"
                       required="true"/>
            </td>
        </tr>
        <tr>
            <td>商品圖片:</td>
            <td><input type="file"  class="input" name="prod_pic" id="prod_pic" onchange="previewImage()"/></td>
        </tr>
        <tr>
            <td>圖片預覽:</td>
            <td><img id="blob_holder" class="img2" th:src="@{/images/noImage.png}"/></td>
        </tr>
    </table>
    <br>
    <input type="hidden" name="token" th:value="${session.token}">
    <input type="hidden" name="token.invoke" value="/admin/listAll">
    <input type="submit" value="送出新增" class="btn1">
    <button type="button" onclick="take()" id="mbutton" class="btn2">導入商品資料</button></FORM>

<script type="text/javascript">
    function previewImage() {
        var prod_pic = document.getElementById("prod_pic");

        // 確定選取了一個二進位檔案，而非其他格式。
        if (prod_pic.files.length != 0 && prod_pic.files[0].type.match(/image.*/)) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var theImg = document.getElementById("blob_holder");
                theImg.src = e.target.result;
            };
            reader.onerror = function (e) {
                alert("例外狀況，無法讀取二進位檔");
            };
            // 讀取二進位檔案。
            reader.readAsDataURL(prod_pic.files[0]);
        }
        else {
            alert("請選取一個二進位檔");
        }
    }

    function take(){
        $("input[name='prodName']").val("風火輪單車");
        $("textarea[name='prodIntroduce']").val("擁有一台風火輪單車，能為你實現天馬行空的騎乘想像；讓你不再為惡劣天氣擔憂，更能規劃不同的冒險旅程 ─ 它將陪你踏遍城市聚會、市集或露天咖啡。");
        $("input[name='prodPrice']").val("35000");
    }
</script>


</body>
</html>